.car-logo {
    width: 24px; /* 30px;3 */
    height: 16px; /* 20px;2 */
    margin-right: 15px; /* 18px */
}

.ciasi-logo {
    height: 20px;
    padding: 2px;
    margin-right: 5px;
    background-color: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.grade {
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif, FreeSans, Arimo;
    font-weight: bold;
    color: #000000;
    padding: 5px 0px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    width: 55px;
    height: 28px;
    display: block
}

.not-official {
    text-decoration: underline;
}

.btn-save-image {
    font-size: small;
    padding: 4px 5px;
    margin-left: 26%;
    cursor: pointer;
    color: #ffffff;
    background-color: #607D8B;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.btn-save-image:hover {
    color: #FFEB3B;
    background-color: #009688;
}

.btn-detail-link {
    font-size: x-large;
    color: #9E9E9E;
}

.btn-detail-link:hover {
    font-size: x-large;
    color: #2196F3;
}

.btn-detail-nolink {
    font-size: x-large;
    color: #9E9E9E;
}

.section {
    width: 100%;
}

.score-detail {
    width: 100%;
    height: 800px;
}

.car-make {
    color: #ffffff;
}

.car-model {
    color: #ffffff;
}

.car-year {
    font-size: x-small;
}

.car-price {
    color: #ffffff;
}

.watermark {
    width: 100%;
    margin-top: -15px;
    margin-bottom: -20px;
}

.watermark .text {
    font-size: small;
    font-style: italic;
    position: relative;
    padding: 0 1.5rem;
    color: #CCC;
    /**
    background: linear-gradient(to right, red, yellow, red);
    -webkit-background-clip: text;
    color: transparent;
    **/
}

.watermark .line-left {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    height: 1px;
    background: linear-gradient(to left, #f44336, #FFEB3B, #4CAF50);
}

.watermark .line-right {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    height: 1px;
    background: linear-gradient(to right, #f44336, #FFEB3B, #4CAF50);
}

.main-frame {
    padding: 0px 5px 30px 5px;
}

.detail-frame {
    padding: 5px 5px;
}